# Local .terraform directories
**/.terraform/*

# State files
*.tfstate
*.tfstate.*

# Crash log files (if Terraform crashes locally)
crash.log
crash.*.log

.idea/

# Terraform variable files with sensitive data
*.tfvars
!*.tfvars.example
